<form class="container bg-dark text-light p-5" action="/cadastrar" method="POST">

   <div class="mb-3">
      <label class="form-label">Nome do Aluno</label>
      <input type="text" class="form-control" name="aluno">
   </div>

   <div class="mb-3">
      <label class="form-label">Nota 1</label>
      <input type="number" class="form-control" name="nota1">
   </div>

   <div class="mb-3">
      <label class="form-label">Nota 2</label>
      <input type="number" class="form-control" name="nota2">
   </div>

   <button type="submit" class="btn btn-primary">Cadastrar</button>
   <a class="btn btn-secondary" href="/">Voltar</a>
</form>