<form class="container mt-5 bg-dark rounded" action="/excluir/{{id}}" method="POST">

   <h1 class="text-light text-center pt-5">Tem certeza que deseja excluir o registro?</h1>

   <div class="d-flex pb-5 m-5 align-items-center justify-content-center">

      <input class="btn btn-danger mx-5" type="submit" value="Excluir">
      <a class="btn btn-secondary" href="/">Voltar</a>

   </div>

</form>